{% extends "base.html" %}
{% block content %}

	<div class = "row">
		<div class = "col-md-12">
			<a href="{{url_for('newItem')}}" > Create a New Item </a>
			<hr>
		</div>
	</div>

	<!-- Display category options -->
	<div class = "row">
		<div class="col-md-12"><h4>Categories:</h4>
		</div>
		{% for c in catalog %}
		<div class="col-md-4">
			<a href = "{{url_for('showCategory', category_id = c.id)}}"> <p>{{c.category}}</p></a>
		</div>
		{% endfor %}
	</div>

	<!-- Display item options -->
	<div class = "row">
		<div class="col-md-12"><hr><h4>Items:</h4>
		</div>
		{% for item in items %}
		<div class="col-md-4">
			<a href = "{{url_for('showItem', category_id = item.catalog_id, item_id = item.id)}}"> 
			<p>{{item.name}}</a> <i>({{item.catalog.category}})</i> </p>
			<img src="{{item.img_url}}" alt="catalog item image"  height="240" width="300">
		</div>
		{% endfor %}
	</div>
	
{% endblock %}