{% extends "base.html" %}
{% block content %}

	<div class = "row">
		<div class="col-md-6">
			<form action="#" method = 'post'>
				<dt>Name:</dt>
					<dd><input type ='text' size='30' name='name' placeholder = 'Enter Name'></dd>
				<dt>Description:</dt>
					<dd><textarea name = 'description' rows='5' cols='40' placeholder = 'Enter Description'></textarea></dd>
			    <dt>Image URL:</dt>
					<dd><input type ='text' size='30' name='img_url' placeholder = 'Enter Image URL'></dd>
			    <br>
			    <p><b>Category:</b><p>
			    <select class="form-control" name='category'>
			    	{% for row in catalog %}
			      		<option value="{{row.id}}">{{row.category}}</option>
			      	{% endfor %}
				</select>
			<br>
			<input type='submit' value='Create'>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
			</form>
		</div>	
	</div>

{% endblock %}