body            { font-size: 200%; font-family: sans-serif; background-color: white}
h1, h2, h3, h4       { color: #35353B; }
h1, h2          { font-family: sans-serif;}
a {text-decoration: none; color:#CC6600; font-size: 1em;}
img {margin: 10px}

.page-header{background-color: #009900;}
.header         {left:50%; text-align: center;} 
.name {width:50%;display: inline-block; float: left;}
.price {text-align: right; width:50%; float: right; }

.flash          { background: gray; color: white; }

.vertical-center {
  min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; 
  display: flex; 
  align-items: center;
}
